@charset "utf-8";
.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:transparent;
    color:transparent;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}

/* Global Styles */
a:link {
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-decoration: none;
}

a:visited {
	font-family: 'Montserrat', sans-serif;
	color: white;
    text-decoration: none;
}

a:hover {
	font-family: 'Montserrat', sans-serif;
	color: darkgray;
    text-decoration: none;
}

a:active {
	font-family: 'Montserrat', sans-serif;
	color: white;
    text-decoration: none;
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	max-width: 960px;
	padding-left: 2.275%;
	padding-right: 2.275%;
	background-color: dimgrey;
}
/* Header */
header {
	text-align: center;
	display: block;
}
header .profileLogo .logoPlaceholder {
	background-color: rgba(208,207,207,1.00);
	width: 187px;
	text-align: center;
}
header .logoPlaceholder span {
	width: 80px;
	height: 22px;
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 30px;
	font-weight: 700;
	line-height: 53px;
}
header .profilePhoto {
	background-color: rgba(237,237,237,1.00);
	width: 200px;
	border-radius: 50%;
	height: 200px;
	clear: both;
}
header .profileHeader h1 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
}
header .profileHeader h3 {
	font-family: sans-serif;
	color: white;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
hr {
	background-color: rgba(208,207,207,1.00);
	height: 1px;
}
header .profileHeader p {
	font-family: sans-serif;
	color: white;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	overflow-y: auto;
}
header .socialNetworkNavBar {
	text-align: center;
	display: block;
	margin-top: 60px;
	clear: both;
}
header .socialNetworkNavBar .socialNetworkNav {
	border-radius: 50%;
	cursor: pointer;
}
header .socialNetworkNavBar .socialNetworkNav img:hover {
	opacity: 0.5;
}
/* Main Content sections */
.mainContent .section1 {
	display: block;
}
.section1 .sectionTitle, .section2 .sectionTitle {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	margin: 0 3% 0 0;
	float: left;
	clear: both;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	background-color: rgba(208,207,207,1.00);
	height: 1px;
	padding: 0px;
}
.mainContent .section1 .section1Content {
	font-family: ProximaNova;
	font-size: 14px;
	font-weight: 100;
	color: white;
}
.mainContent .section1 .section1Content span {
	color: white;
	font-family: sans-serif;
}
.section2 .sectionContentTitle {
	font-family: sans-serif;
	color: white;
	font-size: 18px;
	font-weight: 700;
}
.section2 .sectionContentSubTitle {
	font-family: sans-serif;
	color: white;
	font-size: 14px;
	font-weight: 400;
}
.section2 .sectionContent {
	font-family: sans-serif;
	color: white;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
}
.mainContent {
	display: block;
}
.mainContent .externalResourcesNav .externalResources {
	background-color: rgba(208,207,207,1.00);
	display: inline-block;
	text-align: center;
	margin-top: 0px;
	padding-top: 3%;
	cursor: pointer;
}
.mainContent .externalResourcesNav .externalResources:hover {
	background-color: rgba(153,153,153,1.00);
}
.externalResourcesNav .externalResources a {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
}
.stretch {
	content: '';
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}
/* Footer */
footer .footerDisclaimer {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
	align: center;
	color: white;
	font-weight: 700;
}
footer .footerDisclaimer span {
	color: white;
	align: center;
	font-weight: 400;
}
footer .footerNote {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: white;
	font-weight: 700;
	padding-bottom: 10px;
}
footer .footerNote span {
	color: white;
	font-weight: 400;
}

/* Media query for Mobile devices*/
@media only screen and (min-width : 285px) and (max-width : 480px) {
/* Header */
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
}
header .profilePhoto {
	display: inline-block;
}
header .profileHeader {
	text-align: center;
	margin-top: 10%;
}
header .profileHeader p {
	text-align: justify;
}
header .socialNetworkNavBar {
	text-align: center;
	display: block;
	margin-top: 60px;
	clear: both;
	margin-bottom: 15%;
}
header .socialNetworkNavBar .socialNetworkNav {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content sections */
.mainContent .section1 {
	text-align: center;
	margin-bottom: 10%;
}
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	display: none;
}
.mainContent .section1 .section1Content {
	display: inline-block;
	text-align: left;
	font-family: sans-serif;
	text-align: justify;
}
.mainContent .section2 {
	display: block;
	text-align: center;
}
.section2 .section2Content {
	margin-top: 10%;
	text-align: justify;
	margin-bottom: 10%;
}
.mainContent .externalResourcesNav {
	margin-bottom: 10%;
}
.mainContent .externalResourcesNav .externalResources {
	width: 100%;
	height: 35px;
}
/* Footer */
footer {
	display: block;
	text-align: center;
	font-family: sans-serif;
}
}

/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
/* Header */
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}
header .profilePhoto {
	clear: both;
	margin-left: auto;
  	margin-right: auto;
}
header .profileHeader {
	text-align: left;
	margin-top: 7%;
}
header .socialNetworkNavBar .socialNetworkNav {
	width: 74px;
	height: 74px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content and sections */
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	display: none;
}
.mainContent .section1 .section1Content {
	display: block;
	margin: 0% 0% 0% 20%;
	font-family: sans-serif;
	margin-top: 5%;
	margin-bottom: 5%;
}
.mainContent .section2 {
	clear: both;
}
.section2 .section2Content {
	padding: 0px;
	margin-left: 20%;
	font-family: sans-serif;
	margin-top: 5%;
	margin-bottom: 5%;
}
.mainContent .externalResourcesNav {
	margin-left: 20%;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 0px;
	clear: both;
}
.mainContent .externalResourcesNav .externalResources {
	width: 199px;
	height: 48px;
	margin-top: 5%;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	align: center;
	margin-left: 3%;
	font-family: sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: sans-serif;
}
}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {
/* Header */
header .profileLogo .logoPlaceholder {
	float: left;
	margin-bottom: 50px;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
}
header .profileHeader {
	text-align: left;
	padding-top: 10%;
}
header .socialNetworkNavBar .socialNetworkNav {
	width: 74px;
	height: 74px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content sections */
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 22.5%;
}
.mainContent .section1 .section1Content {
	display: block;
	margin-top: 0%;
	margin-right: 0%;
	margin-left: 26%;
	margin-bottom: 0%;
	font-family: sans-serif;
}
.mainContent .section2 {
	clear: both;
}
.section2 .section2Content {
	padding: 0px;
	margin-left: 26%;
	font-family: sans-serif;
}
.mainContent .externalResourcesNav {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 0px;
	clear: both;
}
.mainContent .externalResourcesNav .externalResources {
	width: 199px;
	height: 48px;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
	font-family: sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: sans-serif;
}
}